---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fb-deploy
  labels: 
    app: facebook
    env: lab
spec:
  selector:
   matchLabels:
     app: facebook

  replicas: 3

  template: 
   metadata:
      name: fb-pod
      labels:
       app: facebook
       env: lab
       version: v2_VC
   spec:
      containers:
        - name: fb-pod-cont
          image: devopshubg333/batch16d:pythonimg

          
